# 电信套餐匹配——AdaBoost_Base_LR——训练

In [3]:
# 首先 import 必要的模块
import pandas as pd 
import numpy as np

from sklearn.model_selection import GridSearchCV

import matplotlib.pyplot as plt
%matplotlib inline

## 读取数据

In [4]:
# 读取数据,原始特征MinMaxScale之后的结果
# path to where the data lies
dpath = './input/'
train = pd.read_csv(dpath +"train_data.csv")
test = pd.read_csv(dpath +"test_data.csv")

MemoryError:

In [3]:
train.head()

,1_total_fee_log,2_total_fee_log,3_total_fee_log,4_total_fee_log,age,complaint_level,contract_time,current_service,data_type,former_complaint_fee_log,...,net_service_2,net_service_3,net_service_4,net_service_9,gender_0,gender_1,gender_2,gender_999,many_over_bill_0,many_over_bill_1
0,4.043051,4.123903,4.042174,4.050915,58.0,0,0.0,89950168,0,0.0,...,0,1,0,0,0,1,0,0,1,0
1,3.673766,3.914021,3.927896,3.867026,22.0,0,0.0,90063345,0,0.0,...,0,0,1,0,0,1,0,0,0,1
2,4.346399,3.795489,3.206803,3.669442,23.0,0,0.0,90063345,0,0.0,...,0,0,1,0,0,0,1,0,1,0
3,5.906859,6.102447,5.694069,5.998937,39.0,0,24.0,99999825,0,0.0,...,0,0,1,0,0,1,0,0,1,0
4,5.118293,5.222785,5.204556,4.488636,59.0,0,24.0,99999827,0,0.0,...,0,0,1,0,0,1,0,0,1,0

In [4]:
test.head()

,1_total_fee_log,2_total_fee_log,3_total_fee_log,4_total_fee_log,age,complaint_level,contract_time,current_service,data_type,former_complaint_fee_log,...,net_service_2,net_service_3,net_service_4,net_service_9,gender_0,gender_1,gender_2,gender_999,many_over_bill_0,many_over_bill_1
0,4.112512,4.036009,3.970292,4.139955,27.0,0,0.0,0,1,0.0,...,0,0,1,0,0,1,0,0,0,1
1,4.672829,4.672829,4.672829,4.672829,51.0,0,24.0,0,1,0.0,...,0,0,1,0,0,0,1,0,1,0
2,4.420045,4.638605,4.557030,4.206184,30.0,1,0.0,0,1,0.0,...,0,0,1,0,0,1,0,0,0,1
3,3.877432,3.841601,3.856510,3.906005,34.0,0,0.0,0,1,0.0,...,0,0,1,0,0,0,1,0,0,1
4,3.860730,4.082609,3.879500,4.174387,20.0,0,0.0,0,1,0.0,...,0,0,1,0,0,1,0,0,0,1

In [5]:
#首先把y_target取出来，并进行转化
class_mapping={89950166:0,
               89950167:1,
               89950168:2,
               90063345:3,
               90109916:4,
               90155946:5,
               99999825:6,
               99999826:7,
               99999827:8,
               99999828:9,
               99999830:10}
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_y_train = LabelEncoder()
train['current_service']= labelencoder_y_train.fit_transform(train['current_service'])

In [6]:
y_train=train.pop('current_service')
train_user_id=train.pop('user_id')
X_train = train.drop([ "data_type"], axis=1)

In [7]:
test_user_id=test.pop('user_id')
X_test = test.drop([ "data_type","current_service"], axis=1)

## AdaBoost_Base_tree

In [8]:
import matplotlib.pyplot as plt
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import make_gaussian_quantiles
bdt = AdaBoostClassifier(DecisionTreeClassifier(class_weight="balanced",max_depth=80, min_samples_split=20, min_samples_leaf=8),
                         algorithm="SAMME",
                         n_estimators=100)
bdt.fit(X_train, y_train)

AdaBoostClassifier(algorithm='SAMME',
          base_estimator=DecisionTreeClassifier(class_weight='balanced', criterion='gini',
            max_depth=80, max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=8, min_samples_split=20,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
          learning_rate=1.0, n_estimators=100, random_state=None)

In [9]:
import pickle as pk
pk.dump(bdt, open("Adaboost_base_tree.pkl", 'wb'))

In [1]:
y_pred=bdt.predict(X_train)
print(y_pred)

NameError: name 'bdt' is not defined

In [ ]:
y_true=y_train
from sklearn.metrics import classification_report
print(classification_report(y_true, y_pred))

# 测试

In [9]:
# 首先 import 必要的模块
#import pandas as pd 
#import numpy as np
# path to where the data lies
#dpath = './data/'
#test = pd.read_csv(dpath +"CTCC_test_log_discrete.csv")

#test.head()

,user_id,many_over_bill,pay_num_log,complaint_level,service_type_1,service_type_3,service_type_4,is_mix_service_0,is_mix_service_1,contract_type_0,...,"former_complaint_fee_log_(14.098, 15.508]","former_complaint_fee_log_(15.508, 16.918]","former_complaint_fee_log_(16.918, 18.328]","former_complaint_fee_log_(18.328, 19.737]","former_complaint_fee_log_(19.737, 21.147]","former_complaint_fee_log_(21.147, 22.557]","former_complaint_fee_log_(22.557, 23.967]","former_complaint_fee_log_(23.967, 25.377]","former_complaint_fee_log_(25.377, 26.787]","former_complaint_fee_log_(26.787, 28.196]"
0,012pSke7DsCrR985,1,4.110874,0,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,012re3ZJSB6FptHW,1,4.510860,0,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,013ElTBrRntuZDXz,1,4.262680,0,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0146B9qQbNxIynoX,1,4.110874,0,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0149vWf6u8UrKyJT,1,3.044522,0,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [10]:
test_user_id
X_test

In [11]:
X_test.head()

,many_over_bill,pay_num_log,complaint_level,service_type_1,service_type_3,service_type_4,is_mix_service_0,is_mix_service_1,contract_type_0,contract_type_1,...,"former_complaint_fee_log_(14.098, 15.508]","former_complaint_fee_log_(15.508, 16.918]","former_complaint_fee_log_(16.918, 18.328]","former_complaint_fee_log_(18.328, 19.737]","former_complaint_fee_log_(19.737, 21.147]","former_complaint_fee_log_(21.147, 22.557]","former_complaint_fee_log_(22.557, 23.967]","former_complaint_fee_log_(23.967, 25.377]","former_complaint_fee_log_(25.377, 26.787]","former_complaint_fee_log_(26.787, 28.196]"
0,1,4.110874,0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,4.510860,0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,4.262680,0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,4.110874,0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1,3.044522,0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
y_pred=bdt.predict(X_test)

In [14]:
y_pred

array([3, 3, 3, ..., 3, 3, 2], dtype=int64)

In [15]:
y_pred=pd.Series(y_pred.tolist())

In [16]:
y_pred

0          3
1          3
2          3
3          3
4          3
5          3
6          8
7          1
8          0
9          3
10         0
11         3
12         9
13         4
14         3
15         3
16         0
17         9
18         3
19         3
20        10
21         3
22         3
23         8
24         3
25         3
26         3
27         9
28         4
29         3
          ..
199970     3
199971     0
199972     3
199973     3
199974     9
199975     3
199976     0
199977     5
199978     3
199979     3
199980     6
199981     5
199982     6
199983     1
199984     0
199985     3
199986     3
199987     3
199988     1
199989     3
199990     3
199991     2
199992     3
199993     4
199994     9
199995     3
199996     3
199997     3
199998     3
199999     2
Length: 200000, dtype: int64

In [17]:
class_mapping={0:89950166,
               1:89950167,
               2:89950168,
               3:90063345,
               4:90109916,
               5:90155946,
               6:99999825,
               7:99999826,
               8:99999827,
               9:99999828,
               10:99999830}
y_pred=y_pred.map(class_mapping)

In [18]:
y_pred

0         90063345
1         90063345
2         90063345
3         90063345
4         90063345
5         90063345
6         99999827
7         89950167
8         89950166
9         90063345
10        89950166
11        90063345
12        99999828
13        90109916
14        90063345
15        90063345
16        89950166
17        99999828
18        90063345
19        90063345
20        99999830
21        90063345
22        90063345
23        99999827
24        90063345
25        90063345
26        90063345
27        99999828
28        90109916
29        90063345
            ...
199970    90063345
199971    89950166
199972    90063345
199973    90063345
199974    99999828
199975    90063345
199976    89950166
199977    90155946
199978    90063345
199979    90063345
199980    99999825
199981    90155946
199982    99999825
199983    89950167
199984    89950166
199985    90063345
199986    90063345
199987    90063345
199988    89950167
199989    90063345
199990    90063345
199991    89950168
199992    90063345
199993    90109916
199994    99999828
199995    90063345
199996    90063345
199997    90063345
199998    90063345
199999    89950168
Length: 200000, dtype: int64

In [19]:
#生成提交结果
out_df = pd.DataFrame(y_pred)
out_df = pd.concat([test_user_id,out_df], axis = 1)
out_df.to_csv("Adaboost_base_LR.csv", index=False)